.multi-select {
    width: 220px;
    height: 20px;
    border: 1px solid #aeaeae;
}

.search {
    border: 0px;
}

.container {
    border: 1px solid black;
    width: 100%;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.selected-person {
    background: #44434470;
    margin: 5px;
    display: flex;
    font-size: 14px;
    align-items: center;
    padding: 5px;
    min-width: 70px;
    border-radius: 4px;
    color: white;
}

.res {
    border: 1px solid #aeaeae;
    width: 250px;
    margin: 0;
    padding: 5px;
}

.user-image {
    border-radius: 50%;
    height: 25px;
}

.close {
    font-size: 13px;
    color: azure;
    cursor: pointer;
    margin-left: auto;
}

.multi-select_container {
    border: 1px solid #7d7d7d;
    width: 698px;
    min-height: 498px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.header {
    padding: 8px;
    border-bottom: 1px solid #7d7d7d;
    display: flex;
}

.search_keyword {
    margin-left: auto;
}

.btn-cls {
    padding: 4px 8px;
    font-weight: 500;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #EEE;
    transition: box-shadow .1s linear;
    background: white;
    font-size: 12px;
}

.slider-container {}

.back {
    background: url(../../../assets/diagram-modern-java-gray-9a417697a51646e42df7e9d7f024709d.svg);
    height: 238px;
}