<div class="container">
    <span class="selected-person" *ngFor="let seluser of selectedResult | keyvalue">
        <img class="user-image" [src]='seluser.value.image'> {{seluser.value.name.slice(0,7)}}
        <span (click)="removeUser(seluser)" style="margin-left: auto;">
            <i class="material-icons close">
                close
            </i>
        </span>
    </span>
    <input type="text" placeholder="Add User" class="search" [(ngModel)]="keyword" (keyup)="searchUser()">
</div>
<div class="" id="">
    <ng-container *ngFor=" let res of mapResult">
        <p class="res" (click)="selectUser(res)">
            <span>
                <img class="user-image" [src]='res.image'>
            </span>{{res.name}}
        </p>
    </ng-container>
</div>
<div class="container">
    <span class="selected-person" *ngFor="let tag of tags | keyvalue">
        {{tag.value}}
        <span style="margin-left: auto;">
            <i class="material-icons close">
                close
            </i>
        </span>
    </span>
    <input type="text" placeholder="Add User" class="search" [(ngModel)]="tag" (keyup.enter)="addTag()">
</div>


<div class="multi-select_container">
    <div class="header">
        <div class="select-unselect">
            <button class="btn-cls">Select All</button> /
            <button class="btn-cls">UnSelect</button>
        </div>
        <div class="search_keyword"><input type="text" placeholder="Typing Keyword..."></div>
        {{seletedUserCount}}
    </div>
    <div>
        <ng-container *ngFor="let item of manipilateArray">
            <div class="users_list">
                <input type="checkbox" (click)="selectAllUserInRow(item)" [(ngModel)]="item.allSelected">
                <ng-container *ngFor="let list of item.userList">
                    <button style="margin: 2px;" class="btn-cls"
                        [ngStyle]="{'background-color':list.isSeleted === true ? '#397c39ba' : 'white' }"
                        (click)="selectUserDynamic(list)">
                        {{list.name}}</button>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>


<div class="slider-container">
    <div class="back">

    </div>
</div>